* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px;
}

.logo {
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: 400;
}
nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    color: white;
}
nav a {
    margin: 0 15px;
}
.banner{
    position: relative;
    background: url(Assets/Images/armchair-green-living-room-with-copy-space_43614-910.avif);
height: 100vh;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
}
.banner .content h4{
    font-size: 15px;
    letter-spacing: 7px;
    font-weight: 500;
}
.banner .content h1{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 2rem;
}
.btn{
    padding: 15px 30px;
    border-radius: 50px;
    background-color: rgb(9, 105, 105);
    margin-right: 20px;
}
.btn:hover{
    opacity: 0.8;
}
nav li:hover{
    color: rgb(12, 255, 255) ;
    cursor: pointer;
    opacity: 0.8;

}
